doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href= "/style.css")
        title= title
    body 

        style.
           
    
        div.row.justify-content-center
            div.col-md-7
                div.card-body
                    block content
        script(src="/index.js")                 
    footer.row.justify-content-center
        div.col-md-6
            block footer
                div.col-md-12 © 2021 Stay Clean | All rights reserved.
