extends layout 
block content 


  body
    #main
     form.form1(action="/login", method="post")
       div.label User login
       img.userlogin.img-responsive(src ='https://www.shareicon.net/data/2016/09/01/822711_user_512x512.png', style = 'width:150px; height:150px; margin-left:200px;')
       div.form-row username
        input.form-control(type="text" placeholder="Email" name="email")
       div.form-row password
        input.form-control(type="password" placeholder="password" name="password")
       
        div.form-row 
        div.col.form-group 
        a.btn.btn-full login      
        a.btn.btn-ghost(href="signup") Register now

       block footer 
                 div.col-md-12 @Think green stay clean!!
