doctype html
html(lang="en")
  head
    title Welcome to the clean app
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='style.css')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
  
  body
    #main
     form(action="#", method="post")
       div.label User login
       img(src ='https://www.shareicon.net/data/2016/09/01/822711_user_512x512.png', style = 'width:150px; height:150px; margin-left:200px;')
       div.username
        input(type="text" placeholder="username")
       div.password
        input(type="password" placeholder="password")
       div.checkbox
        //- input(type='checkbox' name='agreement')
        //- |Remember me
        div.form-row 
        div.col.form-group 
       button(type="button") login

       p
        | New member?
        a(href="/newUser") Register now

         block footer 
                 div.col-md-12 @a clean environment for me and you 
